<h1 class="section-title"><%= @page_title %></h1>

<div class="grid-x grid-margin-x">
  <div class="cell small-6 medium-3 large-4 text-right">
    <img src="http://thecommonwealth.org/sites/default/files/styles/sidebar/public/images/country/98036-Australia-110.jpg"
    style="height: 150px"/>
  </div>
  <div class="cell mall-12 small-6 medium-6 large-4">
    <strong>Australia</strong> has the highest extinction rate of all OECD countries. We believe that using technology, we can inform government and business about the location of animal species so that they can make better-informed and socially beneficial development decisions.
  </div>
</div>

<div class="blank-space"></div>
<div class="grid-x grid-margin-x">
  <div class="cell small-6 medium-3 large-4 text-right">
    <img src="https://cdn.sketchbubble.com/media/catalog/product/cache/1/image/720x540/c96a280f94e22e3ee3823dd0a1a87606/b/i/big-data-mc-slide12.png"
    style="height: 150px"/>
  </div>
  <div class="cell small-6 medium-6 large-4">
    <strong>Bushtag</strong> is a data mashup and interactive map that provides Government, Businesses and NGO’s with easily accessible information about the location of biodiversity. This information can be used to influence their planning decisions and responses to natural disasters.
  </div>
</div>

<div class="blank-space"></div>
<div class="grid-x grid-margin-x">
  <div class="cell small-6 medium-3 large-4 text-right">
    <img src="https://here.com/sites/default/files/HERE_Logo_Thumb_Pos.jpg"
    style="height: 150px"/>
  </div>
  <div class="cell small-6 medium-6 large-4">
    <strong>Bushtag</strong> uses <a href="https://here.com">HERE</a> mapping to show the effect of human development and climate change on Australian Biodiversity. It is a mashup of open data from NSW BioNet, NSW Department of Planning and Environment and SEED.
  </div>
</div>
<div class="blank-space"></div>
