<div class="text-center">
  <div class='focus-box-home'>

    <div id="map" style="width: 100%; height: 550px; background: grey; background-image: url('https://images.template.net/wp-content/uploads/2014/12/Australia-Day-Illustrations-KOALA.jpg')" />
    <script  type="text/javascript" charset="UTF-8" >
      
    var app_id = "<%= ENV['HERE_API_ID'] %>";
    var app_code = "<%= ENV['HERE_API_CODE'] %>";
    var data = <%= @animals_json.html_safe %>;
    initMate(data, app_id, app_code)
      
    </script>
  </div>
</div>
