.text-center
  %h2 Bushtag - Explore NSW's endangered species!
  .focus-box-home
    = image_tag('https://s-media-cache-ak0.pinimg.com/736x/6d/73/46/6d734621e22c7bf3860856e105948115--opossum-north-america.jpg', style: "height: 100px;")
