<h1 class="section-title"><%= @page_title %></h1>

<div class="grid-x grid-margin-x">
  <div class="cell small-6 medium-3 large-4 text-right">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/5c/a1/a9/5ca1a92f0d820afd7ca0759aae19b9f7--wilsons-promontory-quokka.jpg"
    style="height: 150px"/>
  </div>
  <div class="cell mall-12 small-6 medium-6 large-4">
    <strong>Have you spotted an endangered animal</strong> on own your adventures?
    Were you so excited that you wanted to share it with the world?
    You can contribute to Bushtag data too!
  </div>
</div>

<div class="blank-space"></div>
<div class="grid-x grid-margin-x">
  <div class="cell small-6 medium-3 large-4 text-right">
    <img src="https://19818-presscdn-pagely.netdna-ssl.com/wp-content/uploads/3ac/c9/tumblr_inline_nttb3hnH8U1qm4rc3_540.png"
    style="height: 150px"/>
  </div>
  <div class="cell small-6 medium-6 large-4">
    <strong>Simply take an image</strong> of an endangered animal, upload it to instagram and hashtag it with #bushtag and the hashtag of the specific animal. For example, you might spot a koala, take a photo and upload it with #bushtag and #koala.
  </div>
</div>

<div class="blank-space"></div>
