@import 'font-awesome';

$light-gray: #F7F7F7;
$white: white;
$black: black;
$yellow: rgb(243, 216, 129);
$gold: $yellow;
$purple: #99a7ee;
$font-size-large: 1.3rem;
$red: #F26C4F;
$main-color: rgb(111, 192, 160);
$font-family-title: 'Yeseva One', cursive;
$font-family-body: Avenir Next, arial;

.cell-centered {
  margin-right: auto;
  margin-left: auto;
}
.blank-space {
  height: 50px;
}

body {
  background-color: $light-gray;

  // sticky-footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body.focus {
  background-color: $yellow;

  .heading {
    background-color: $black;
    color: $white;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;

    .cell {
      position: relative;
    }

    a.close {
      position: absolute;
      top: -0.5rem;
      right: 0;
      font-size: 2rem;
    }
  }

  .focus-main-wrapper {
    .cell {
      background-color: $white;
    }
  }

  label {
    font-size: $font-size-large;
  }

  input[type=text], input[type=password] {
    background-color: $light-gray;
  }
}

.section-title {
  font-family: $font-family-title;
  color: $red;
}
.field_with_errors {
  border: 1px solid $red;
  margin-bottom: 1rem;

  input {
    margin-bottom: 0;
  }
}

.help-text-errors {
  font-weight: bold;
  color: $red;
}

.form-group {
  margin-bottom: 1rem;
}

.main-container-wrapper {
  // sticky-footer
  flex: 1;
}
.main-container {
  background-color: $white;
}

.top-bar {
  background-color: $main-color;

  ul {
    background-color: $main-color;
    // margin-left: auto;
    // margin-right: auto;
  }

  a {
    line-height: 60px;
    color: $black;
    font-family: $font-family-title;
  }
  .top-bar-left {
    position: relative;
  }
  .logo {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: -50px;
    img {
      height: 60px;
    }
    span {
      position: absolute;
      font-size: 12px;
      line-height: 12px;
      top: 75px;
      font-family: $font-family-body;
      font-weight: normal;
    }
  }
}

.H_ib_body {
  position: relative;
  padding-right: 0px !important;

  .H_ib_close {
    position: absolute;
    right: 0;
    top: 0;
  }
  .bubble {
    font-size: 14px;
    p {
      margin-bottom: 3px;
      padding-right: 10px;
    }
  }
}

.image-show {
  width: 100%;
}

footer {
  background-color: $black;
  color: $white;
  font-size: 12px;

  .cell {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  a {
    color: $main-color;
    &:hover {
      color: $purple;
    }
  }
}

.logo {
  font-weight: bold;
}
