!!!
%html
  = render 'layouts/head'

  %body
    .top-bar
      .top-bar-left
        %ul.menu
          %li
            %a.logo{href: '/'}
              = image_tag 'logos/bushtag_small.png'
              %br
              %span Explore NSW's endangered species!

      .top-bar-right
        %ul.menu
          %li
            %a{href: '/about'} About
          %li
            %a{href: '/discover'} Discover
          %li
            %a{href: '/tag'} Tag
          %li
            %a{href: '/datasets'} Datasets
          %li
            %a{href: '/random'} Random
          %li
            %a{target: '_blank', href: 'https://www.facebook.com/BushtagAus/?ref=aymt_homepage_panel'}
              %i.fa.fa-facebook-square
          %li
            %a{target: '_blank', href: 'https://www.instagram.com/bushtagaus/?hl=en'}
              %i.fa.fa-instagram
          %li
            %a{target: '_blank', href: 'https://github.com/StanBright/bushtag'}
              %i.fa.fa-github

    .main-container-wrapper
      .grid-container.grid-container-padded.main-container
        .grid-x.grid-padding-x.grid-padding-y
          .cell
            = render 'layouts/notices'
            = yield

    %footer
      .grid-container.grid-container-padded
        .grid-x.grid-padding-x
          .cell.small-6
            Looking out for our furry friends.
          .cell.small-6.text-right
            %a{href: 'http://2017.hackerspace.govhack.org/'} GovHack 2017
            &nbsp;|&nbsp;
            %a{href: 'https://data.bionet.nsw.gov.au/'} BioNet Web Services
            &nbsp;|&nbsp;
            %a{href: 'https://azure.microsoft.com/en-us/services/cognitive-services/'} Cognitive Services
