!!!
%html
  = render 'layouts/head'

  %body
    .top-bar
      .top-bar-left
        %ul.menu
          %li
            %a.logo{href: '/'}
              = image_tag 'logos/bushtag.png'
              %br
              %span Explore NSW's endangered species!

      .top-bar-right
        %ul.menu
          %li
            %a{href: '/'} About
          %li
            %a{href: '/discover'} Discover
          %li
            %a{href: '/'} Learn
          %li
            %a{href: '/'} Tag
          %li
            %a{href: '/'}
              %i.fa.fa-facebook-square
          %li
            %a{href: '/'}
              %i.fa.fa-instagram

    .main-container-wrapper
      .grid-container.grid-container-padded.main-container
        .grid-x.grid-padding-x.grid-padding-y
          .cell
            = render 'layouts/notices'
            = yield

    %footer
      .grid-container.grid-container-padded
        .grid-x.grid-padding-x
          .cell.small-6
            Helping the world be a better place for both of us humans and animals!
          .cell.small-6.text-right
            %a{href: 'http://2017.hackerspace.govhack.org/'} GovHack 2017
            &nbsp;|&nbsp;
            %a{href: 'https://data.bionet.nsw.gov.au/'} BioNet Web Services
            &nbsp;|&nbsp;
            %a{href: 'https://azure.microsoft.com/en-us/services/cognitive-services/'} Cognitive Services
